main .container {
  display: grid;
  grid-template-areas:
    "hero"
    "intro"
    "card"
    "contact-us";
  gap: 2rem 0;
}

.home-hero {
  grid-area: hero;
  background: rgb(32, 200, 255);
  background: linear-gradient(160deg, rgb(80, 200, 255), rgb(0, 255, 200));
  background: url(../r/hero-img.jpg) no-repeat center center;
  /* Bildet hentet fra https://www.pexels.com/nb-no/bilde/surfebrett-surfe-oy-farge-5006655/ */
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.home-hero div {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.2);
  padding: 2rem;
  text-align: center;
}

.home-hero div * {
  display: block;
}

.home-hero h1 {
  color: var(--secondary);
  padding: 0 1rem;
  margin-bottom: 2rem;
  font-size: 4rem;
  font-weight: bold;
}

.home-hero a {
  background: var(--secondary);
  color: var(--primary);
  text-decoration: none;
  border-radius: 4px;
  padding: 1rem;
  width: fit-content;
  font-size: 1.5rem;
}

.home-hero a:hover {
  color: rgb(15, 175, 185);
  /*background: var(--nav-hover);
  color: var(--secondary);*/
}

.intro {
  grid-area: intro;
  padding: 0 4rem;
}

.intro p {
  margin: 1rem 0;
  color: var(--secondary);
  font-size: 1.25rem;
  line-height: 1.5;
}

.card {
  grid-area: card;
  padding: 0 1rem;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 2rem;
}

.card article {
  padding: 2rem;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.card h2 {
  padding-bottom: 1rem;
  font-size: 1.5rem;
}

.card article div {
  display: flex;
  gap: 1rem;
}

.card img {
  display: block;
  height: 150px;
  aspect-ratio: 1;
}

.card p {
  font-size: 1rem;
  line-height: 1.2;
}

.card a {
  float: right;
  background: var(--secondary);
  color: var(--primary);
  text-decoration: none;
  border-radius: 4px;
  padding: 1rem 2rem;
  width: fit-content;
}

.card a:hover {
  background: var(--nav-hover);
  color: var(--secondary);
}

.contact-us {
  grid-area: contact-us;
  padding: 0 1rem;
  display: grid;
  grid-template-rows: auto auto;
  gap: 2rem;
}

.contact-us article {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 2rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem 0;
}

.contact-us h2 {
  display: block;
  text-align: center;
  font-size: 2rem;
}

.cu-card-1 p {
  font-size: 1rem;
  line-height: 1.2;
  padding-bottom: 1rem;
}

.cu-card-1 a {
  display: block;
  background: var(--secondary);
  color: var(--primary);
  text-decoration: none;
  padding: 1rem;
  border-radius: 4px;
}

.cu-card-2 a {
  color: var(--secondary);
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 1rem;
  border-radius: 8px;
}

.cu-card-2 a i {
  font-size: 3rem;
  padding-right: 0.5rem;
}

.contact-us a:hover {
  background: var(--nav-hover);
  color: var(--secondary);
}

@media only screen and (min-width: 800px) {
  main .container {
    grid-template-columns: 1fr min(500px, 50%) min(500px, 50%) 1fr;
    grid-template-areas:
      "hero hero hero hero"
      ". intro intro ."
      ". card contact-us .";
    gap: 4rem 0;
  }
  .home-hero div {
    padding: 4rem;
  }
  .contact-us {
    grid-template-rows: 1fr 1fr;
  }
}
